.loader-container {
  width: 100vw;
  height: 100vh;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader-logo {
  width: 150px;
  height: 120px;
  animation: fadeScale 1.6s infinite ease-in-out;
}

@keyframes fadeScale {
  0% {
    opacity: 0.3;
    transform: scale(0.9);
  }
  50% {
    opacity: 1;
    transform: scale(1.05);
  }
  100% {
    opacity: 0.3;
    transform: scale(0.9);
  }
}
